

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cinzel+Decorative:wght@400;700;900&family=Open+Sans:wght@500;800&family=Tangerine:wght@400;700&display=swap');

*, *::before, *::after { margin:0; padding:0; box-sizing:border-box; }

body {
    min-height: 100vh;
    padding-top: 81px;
    background: #212329;
    color: #e9e6e3;
    font-size: 1.1rem;
    /* font-family: 'Archivo Black', sans-serif; */
    /* font-family: 'Cinzel Decorative', cursive; */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Tangerine', cursive; */
}
ul, ol, menu {
    margin: 1em 0;
    padding-left: 40px;
}
pre {
    margin: 1em 0;
}
blockquote {
    margin: 1em 40px;
}
dd {
    margin-left: 40px;
}
dl {
    margin: 1em 0;
}
fieldset {
    margin-left: 2px;
    margin-right: 2px;
    padding: 0.35em 0.625em 0.75em 0.75em;
}
legend {
    padding-left: 2px;
    padding-right: 2px;
}
appbar {
    display: block;
    width: 100%;
    height: 81px;
    position: absolute;
    top: 0; left: 0;
    z-index: 9;
    background: #1b1d22;
    filter: drop-shadow( #0009 0 0 5px );
} appbar > menu {
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: clamp( 100px, 100%, 1200px );
    height: 100%;
    margin: 0 auto;
    background: #212329;
}
appbar > menu :nth-child( 2 ) { display: grid; place-items: center}
body > main > article, body > main { padding-top: 18px; }
body > main > article { list-style-type: decimal; width: 90%; margin: 0 auto; }
body > main > article :nth-child( 1n ) {
    margin: 18px 0;
}
img[tut] {
    width: 100%;
}
code {
    color: #ffab00;
    display: block;
}